<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="youli.open.filesync.log">
	<Appenders>
		<RollingFile name="File" fileName="logs/filesync.log" filePattern="logs/filesync-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
		</RollingFile>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<SyncAppenderSwing name="SyncAppenderSwing">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</SyncAppenderSwing>
	</Appenders>
	<Loggers>
		<Logger name="youli.open.filesync" level="info" additivity="false">
			<AppenderRef ref="File" />
			<AppenderRef ref="SyncAppenderSwing" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="File" />
		</Root>
	</Loggers>
</Configuration>